@import "./common.css";

h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #d0d7deb3;
    padding-bottom: 0.2em;
}
h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #d0d7deb3;
    padding-bottom: 0.3em;
}
header {
    padding-top: 100px;
}
a {
    color: #218bff;
    text-decoration: none;
}
article {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
}
p {
    text-indent: 2em;
}
#article-wrapper {
    padding-bottom: 25px;
}
#header-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
}
#main-logo {
    width: 136px;
    height: auto;
    padding-left: 16px;
}
#logo-360 {
    padding-right: 6px;
    display: block;
}
#titles {
    width: 100%;
    flex: 1;
}
#main-title {
    font-size: 3.0em;
    font-weight: bold;
    margin: 0;
}
#ub-list-main-title {
    font-size: 2.3em;
    font-weight: bold;
    margin: 0;
}
#sub-title {
    color: #888;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2em;
}
@media screen and (max-width: 715px){
#main-logo {
    display: none;
}
}
@media screen and (max-width: 565px){
#version-tag {
    display: none;
}
}
@media screen and (max-width: 500px){
#logo-360 {
    display: none;
}
#sub-title {
    padding-left: 0;
}
}
.content-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.content-first-section {
    padding-top: 18px;
}
.content-last-section {
    padding-bottom: 60px;
}
.simple-list {
}
.simple-list li {
    line-height: 1.6em;
}
#rules-toc {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#rules-toc ul {
    color: #218bff;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
}
#rules-toc ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}
#rules-toc ol {
    color: #218bff;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
    counter-reset: item;
}
#rules-toc > ol {
    padding-left: 0;
}
.rules-toc-chapter {
    font-size: 20px;
    font-weight: bold;
}
.rules-toc-section {
    font-weight: bold;
}
#rules-toc ol li {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
}
#rules-toc ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    display: inline-block;
    width: 3em;
    text-align: right;
    margin-right: 10px;
}
#appendix-list {
    color: #218bff;
}
#appendix-list li {
    line-height: 1.6em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
#cpp-ub-list {
    color: #218bff;
}
#cpp-ub-list li {
    line-height: 1.6em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
#c-ub-list {
}
#c-ub-list li {
    line-height: 1.6em;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}
